[Unit]
Description=ReadyRoom Kiosk (Spot Face + LCARS)
After=graphical.target network-online.target
Wants=network-online.target

[Service]
User=ogre
Environment=DISPLAY=:0
ExecStart=/usr/bin/chromium-browser --kiosk --incognito --noerrdialogs --disable-infobars --check-for-update-interval=31536000 http://192.168.10.10:8088
Restart=always
RestartSec=3

[Install]
WantedBy=graphical.target
