[Unit]
Description=M5 Fleet Worker
After=docker.service network.target

[Service]
Type=simple
User=ogre
ExecStart=/usr/local/bin/m5-worker.sh
Restart=always

[Install]
WantedBy=multi-user.target
