[Unit]
Description=Verify Spot Core Replica Every Minute

[Timer]
OnBootSec=45s
OnUnitActiveSec=60s
AccuracySec=2s
Persistent=true
Unit=spot-replica-verify.service

[Install]
WantedBy=timers.target
