[Unit]
Description=Run Spot replica retention cleanup

[Timer]
OnBootSec=3min
OnUnitActiveSec=10min
RandomizedDelaySec=60
Persistent=true
Unit=spot-replica-retention.service

[Install]
WantedBy=timers.target
