[Unit]
Description=Spot Fleet Worker
After=network-online.target mnt-collective.mount
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/spot-worker.sh
Restart=always
RestartSec=2
User=ogre

[Install]
WantedBy=multi-user.target
