[Unit]
Description=Run Spot VPN Probe every 30 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=30s
AccuracySec=1s
Unit=spot-vpn-probe.service

[Install]
WantedBy=timers.target
